{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Как-будто здесь должен быть какой-то крутой заголовок, но я ничего не смог придумать</p>
        <a href="{% url 'about' %}" class="btn btn-warning">На страницу про меня</a>

        {% for el in values %}
            {% filter lower %}
                <p>{{ el }}</p>
            {% endfilter %}
        {% endfor %}
    </div>
{% endblock %}